### Series Data structures

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.__version__

'2.1.4'

In [3]:
obj = pd.Series([1, 'John', 3.5, 'Hey'])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [4]:
obj[0]

1

In [5]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [6]:
obj2 = pd.Series([1, 'John', 3.5, 'Hey'], index = ['a', 'b', 'c', 'd'])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [7]:
print(obj2['b'])
print(obj2[2])

John
3.5

In [8]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
score = {"Jane":30, "Anzie":45, "Nancy":56}
score

{'Jane': 30, 'Anzie': 45, 'Nancy': 56}

In [11]:
names = pd.Series(score)
names

Jane     30
Anzie    45
Nancy    56
dtype: int64

In [12]:
names.index

Index(['Jane', 'Anzie', 'Nancy'], dtype='object')

In [13]:
names['Anzie']

45

In [14]:
names[names>=15]

Jane     30
Anzie    45
Nancy    56
dtype: int64

In [15]:
names["Jane"]=60
names

Jane     60
Anzie    45
Nancy    56
dtype: int64

In [16]:
'Jane' in names

True

In [17]:
names/10

Jane     6.0
Anzie    4.5
Nancy    5.6
dtype: float64

In [18]:
names.isnull()

Jane     False
Anzie    False
Nancy    False
dtype: bool

### Working with series

In [19]:
games = pd.read_csv('datasets/video_games.csv')

In [20]:
games.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [21]:
games.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [23]:
games.Genre.describe()

count      16598
unique        12
top       Action
freq        3316
Name: Genre, dtype: object

In [24]:
games.Genre.value_counts()

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: count, dtype: int64

In [25]:
games.Genre.value_counts(normalize=True)

Genre
Action          0.199783
Sports          0.141342
Misc            0.104772
Role-Playing    0.089649
Shooter         0.078925
Adventure       0.077479
Racing          0.075250
Platform        0.053380
Simulation      0.052235
Fighting        0.051090
Strategy        0.041029
Puzzle          0.035064
Name: proportion, dtype: float64

In [26]:
type(games.Genre.value_counts())

pandas.core.series.Series

In [27]:
games.Genre.value_counts().head()

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Name: count, dtype: int64

In [28]:
games.Genre.unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [29]:
games.Genre.nunique()

12

In [30]:
pd.crosstab(games.Genre, games.Year)

Year,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2020.0
Genre,,,,,,,,,,,,,,,,,,,,,
Action,1,25,18,7,1,2,6,2,2,2,...,272,226,239,266,148,186,255,119,1,0
Adventure,0,0,0,1,0,0,0,1,0,0,...,141,154,108,58,60,75,54,34,0,0
Fighting,1,0,0,0,0,1,0,2,0,0,...,53,40,50,29,20,23,21,14,0,0
Misc,4,0,1,1,1,0,0,0,0,1,...,207,201,184,38,42,41,39,18,0,0
Platform,0,3,5,5,1,4,6,2,4,3,...,29,31,37,12,37,10,14,10,0,0
Puzzle,0,2,3,1,3,4,0,0,1,5,...,79,45,43,11,3,8,6,0,0,0
Racing,0,1,2,0,3,0,1,0,1,0,...,84,57,65,30,16,27,19,20,0,0
Role-Playing,0,0,0,0,0,0,1,3,3,2,...,103,103,95,78,71,91,78,40,2,0
Shooter,2,10,5,1,3,1,4,2,1,1,...,91,81,94,48,59,47,34,32,0,0
Simulation,0,1,0,0,0,1,0,0,1,0,...,123,82,56,18,18,11,15,9,0,1
Sports,1,4,2,1,2,1,3,4,2,3,...,184,186,122,54,53,55,62,38,0,0
Strategy,0,0,0,0,0,0,0,0,0,0,...,65,53,46,15,19,8,17,10,0,0