### Series Data structures

In [12]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.__version__

'2.1.4'

In [3]:
obj = pd.Series([1, 'John', 3.5, 'Hey'])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [4]:
obj[0]

1

In [5]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [6]:
obj2 = pd.Series([1, 'John', 3.5, 'Hey'], index = ['a', 'b', 'c', 'd'])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [13]:
print(obj2['b'])
print(obj2[2])

John
3.5

In [14]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
score = {"Jane":30, "Anzie":45, "Nancy":56}
score

{'Jane': 30, 'Anzie': 45, 'Nancy': 56}

In [17]:
names = pd.Series(score)
names

Jane     30
Anzie    45
Nancy    56
dtype: int64

In [18]:
names.index

Index(['Jane', 'Anzie', 'Nancy'], dtype='object')

In [19]:
names['Anzie']

45

In [21]:
names[names>=15]

Jane     30
Anzie    45
Nancy    56
dtype: int64

In [22]:
names["Jane"]=60
names

Jane     60
Anzie    45
Nancy    56
dtype: int64

In [23]:
'Jane' in names

True

In [24]:
names/10

Jane     6.0
Anzie    4.5
Nancy    5.6
dtype: float64

In [25]:
names.isnull()

Jane     False
Anzie    False
Nancy    False
dtype: bool

### Working with series

In [28]:
games = pd.read_csv('datasets/video_games.csv')

In [29]:
games.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [30]:
games.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object